{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- inner banner -->
    <div class="ibanner_w3 pt-sm-5 pt-3">
        <h4 class="head_agileinfo text-center text-capitalize text-center pt-5">
            <span>j</span>Tro
            <span>M</span>oon</h4>
    </div>
    <!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <section class="single_blog_wthree py-5">
        <div class="container">
            <h5 class="head_agileinfo text-center text-capitalize pb-5">
                <span>j</span>Tro</h5>
            <div class="single-page-agile-info">
                <!-- /movie-browse-agile -->
                <div class="row show-top-grids">
                    <div class="col-md-8 single-left">
                        <div class="row card-columns">
                            {% for context in blog_content %}
                            <div class="col-md-5 p-0">
                                <div class="card">
                                    <a href="{{ context.get_absolute_url }}">
                                        <img class="card-img-top" src="{{ context.image.url }}" alt="Card image cap">
                                    </a>
                                    <div class="card-body">
                                        <h5 class="card-title blg_w3ls">
                                            <a href="{{ context.get_absolute_url }}">{{ context.title }}</a>
                                        </h5>
{#                                        <p class="card-text">{{ context.content|truncatechars:250|safe }}</p>#}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Search Widget -->
                        {% include 'blog/snippets/search.html' %}
                        <!-- Categories Widget -->
                        {% include 'blog/snippets/category.html' with blog_category_context=blog_category_context %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //blog-->
{% endblock %}
