{% load static %}
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>{% block title %}jTro{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <meta name="keywords" content="Fashion Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design"/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- CSS FILE -->
    {% include 'base/css.html' %}
</head>

<body>
<!-- header -->
<header>
    <div class="container">
        <!-- top nav -->
        {% include 'base/header/header.html' %}
        <!-- //top nav -->
        <!-- bottom nav -->
        {% include 'base/header/navbar.html' %}
        <!-- //bottom nav -->
    </div>
    <!-- //header container -->
</header>
<!-- //header -->
<!-- main content -->
<div>
    {% block content %}{% endblock %}
</div>
<!-- //main content -->
<!-- footer -->
{% include 'base/footer.html' %}
<!-- //footer -->
<!-- sign up Modal -->
{% include 'accounts/register.html' %}
<!-- //signup modal -->
<!-- signin Modal -->
{% include 'accounts/login.html' %}
<!-- signin Modal -->
<!-- js -->
{% include 'base/js.html' %}
</body>

</html>
